<div class="container-fluid">
  <div class="row">
    <div class="users-column col-xs-12" [class.open]="menuOpen">
      <div id="users-list-wrapper" [class.closed]="!menuOpen">
        <h5 id="users-header"><span *ngIf="menuOpen">USERS ({{users.length}})</span> <a class="btn btn-default pull-right" aria-label="Settings">
  <i (click)="toggleMenu($event)" class="fa fa-bars" [class.closed]="!menuOpen" aria-hidden="true"></i></a></h5>

        <ul *ngIf="menuOpen" class="list-unstyled" id="users-list">
          <li *ngFor="let user of users">
            <span>user-{{user.id.substr(-5)}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-10 col-xs-12">
      <div id="messages-wrapper" [class.pushed]="menuOpen">
        <ul class="list-unstyled message-list">
          <li *ngFor="let message of messages">
            <span>
              <strong>user-{{message.user.id.substr(-5)}}:</strong> {{message.text}} <small class="message-time">{{message.time}}</small>
            </span>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div>
    <form autocomplete="off" class="form-inline" (ngSubmit)="sendMessage()">
      <input autocomplete="off" id="chat-input" class="form-control" name="currentMessage" placeholder="Type and press ENTER..." [(ngModel)]="currentMessage" />
      <button class="btn btn-primary btn-sm" type="submit">Send</button>
    </form>
  </div>
</div>
