.container-fluid {
  height: 100vh;
}
/*form button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}*/
#chat-input {
    width: 100%;
    position: fixed;
    bottom: 0;
    line-height: 40px;
    height: 50px;
    border-radius: 0px;
    margin-left: -15px;
}
#users-list-wrapper {
  padding: 10px 0 30px 10px;
  margin-left: -15px;
  margin-right: -15px;
  background-color: #663399;
  color: white;
}
#users-list-wrapper .fa {
  color: white;
  cursor: pointer;
}
#users-list-wrapper.closed {
  background-color: white;
  opacity: 0.1;
}
.fa.closed {
  color: #663399 !important;
}
#users-list-wrapper a {
  padding-top: 0;
}
@media (min-width: 768px) {
  #users-list-wrapper {
    height: calc(100vh - 50px) !important;
  }
  #messages-wrapper {
    padding-left: 70px !important;
  }
  #users-list-wrapper.closed {
    background-color: #663399 !important;
    opacity: 1;
  }
  .fa.closed {
    color: white !important;
  }
  .users-column.open {
    width: 200px;
  }
  .users-column:not(.open) {
    width: 45px;
  }
}
.users-column {
  width: 100%;
  z-index: 1000;
  position: absolute;
}
#users-header a {
  margin-right: 10px;
  opacity: 1 !important;
}

#users-list {
  margin-left: 20px;
  margin-top: 20px;
  color: #dccaed;
}
#users-list li {
  margin-top: 10px;
}
#users-header {
  margin-left: 20px;
}
#messages-wrapper {
  padding: 10px 10px 10px 0;
  overflow: auto;
}
#messages-wrapper {
  height: calc(100vh - 50px);
}

#messages-wrapper::-webkit-scrollbar {
    display: none;
}
.message-list li {
  margin-bottom: 10px;
}
.message-time {
  color: #CCC;
}
